    <div class="navbar navbar-fixed-top"> 
      <div class="navbar-inner"> 
        <div class="container"> 
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
          </a> 
            <a class="brand active" href="../../ls-index.jsp">&larr; Zurück</a> 
          <div class="nav-collapse"> 
            <ul class="nav"> 
              <li><a href="http://www.as.uni-heidelberg.de">Anglistik</a></li> 
              <li><a href="../../ls-index.jsp">SignUp</a></li> 
                <li class="dropdown"> 
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Andere Hilfethemen <b class="caret"></b></a> 
                    <ul class="dropdown-menu"> 
                        <li><a href="./help_data.jsp">Daten</a></li> 
                        <li><a href="./anmeldungen.jsp">Anmeldungen</a></li> 
                        <li><a href="./leistungen.jsp">Leistungen</a></li> 
                        <li><a href="./pruefungen.jsp">Prüfungen</a></li> 
                        <li><a href="./studienbilanz.jsp">Studienbilanz</a></li> 
                        <li><a href="./antrag.jsp">Anträge</a></li>
                        <li><a href="./transkriptdruck.jsp">Transkript selbst drucken</a></li>
                        <li><a href="./kurswahl_basic.jsp">Kurswahl</a></li>
                    </ul> 
                </li>  
            </ul> 
          </div><!--/.nav-collapse --> 
        </div> 
      </div> 
    </div> 
